body {

    width: 100%;
}
.block40 {
	box-sizing: border-box;
	display: inline-block;
	width: 36%;
	margin-right: 2%;
	margin-left: 2%;
	vertical-align: top;
}
.block20 {
	box-sizing: border-box;
	display: inline-block;
	width: 20%;
	vertical-align: top;
}
.block40 textarea {
	display: inline-block;
	width: 100%;
	height:500px;
}