<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>React Tutorial</title>
    <link type="text/css" rel="stylesheet" href="../css/card_print.css">
  </head>
  <body>


    <div class="card">
      <div class="title"><span class="fs">Огненный шар</span></div>
      <div class="level">3 уровень, воплощение</div>
      <div class="props">
          <div class="prop">
            <div class="propName">Время накладывания</div>
            <div class="propValue">1 действие</div>
          </div>
          <div class="prop">
            <div class="propName">Дистанция</div>
            <div class="propValue">150 футов</div>
          </div>
          <div class="prop">
            <div class="propName">Компоненты</div>
            <div class="propValue">В, С, М</div>
          </div>
          <div class="prop">
            <div class="propName">Длительность</div>
            <div class="propValue">Мгновенная</div>
          </div>
      </div>
      <div class="text">
      <div class="level"></div>
        <p class="first">Материалы: крошечный шарик из гуано летучей
мыши и серы</p>
        <p>Яркий луч вылетает из вашего указательного пальца в точку,
выбранную вами в пределах дистанции, где и происходит
взрыв пламени с гулким рѐвом. Все существа в пределах
сферы с радиусом 20 футов с центром в этой точке должны
совершить спасбросок Ловкости. Цель получает урон огнѐм
8к6 при провале или половину этого урона при успехе.
</p>
        <p>Этот огонь огибает углы. Он воспламеняет горючие
предметы, которые никто не несѐт и не носит.
</p>
        <div class="higherLevels">
          <div class="level">На более высоком уровне</div>
          <p class="first">Если вы накладываете это
заклинание, используя ячейку 4 уровня или выше, урон
увеличивается на 1к6 за каждый уровень ячейки выше
третьего.
</p>
        </div>
      </div>
      <div class="footer">
        Arcane
      </div>
    </div>
  </body>
</html>